PORT=5000
USD_TO_ETB_RATE=188.0
TELEBIRR_RECEIVER_PHONE=+251911234567
TELEBIRR_RECEIVER_NAME=Korcha Logistics (ኮርቻ ሎጂስቲክስ)
TELEGRAM_BOT_TOKEN=
TELEGRAM_WORKER_CHAT_ID=
WORKER_EMAIL=support@korcha.et
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
